section#newslater_1 {
    min-height:450px;
    
    align-items:center;
}

section#newslater_1 .container_of {
    padding: 100px;
    max-width: 80vw;
    width: 1000px;
}

section#newslater_1 .container_of .title{
    font-size:35px;
    font-family:sans-serif;
    margin-bottom:20px;
    font-weight:700;
    color:rgb(255, 255, 255);
    line-height: normal;
    
}

section#newslater_1 .container_of .sub_title {
    font-size:15px;
    font-family:sans-serif;
    margin-bottom:20px;
    color:rgb(255, 255, 255);
}

section#newslater_1 .form-group {
    display:flex;
    gap:15px;
}

section#newslater_1 .container_of input{
    background:white;
} 
section#newslater_1  .form-control:focus {
   color: #ffffff !important;
}

@media (max-width: 768px) {
    section#newslater_1 .container_of {
        padding: 20px;
        max-width: 100vw;
    }
}


@media (max-width: 575px) {
    section#newslater_1 .form-group {
        flex-direction: column;
    }
}


@media (max-width:768px){
    div#locationSelectModal_category .modal-body{
        zoom:70%
    }
}
@media (max-width:575px){
    div#locationSelectModal_category .modal-body{
        zoom:50%
    }
}
