
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero_hero_style1 {
    padding: 0;
  }

  .hero_hero_style1 .carousel {
    width: 100%;
    min-height: 400px;

    padding: 0;
    margin: 0;
    position: relative;
  }


  .hero_hero_style1 img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .hero_hero_style1 .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .hero_hero_style1 .carousel-item:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 80%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .hero_hero_style1 .container {
    position: relative;
    text-align: center;
    background: color-mix(in srgb, var(--background-color), transparent 40%);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-top: 4px solid var(--accent-color);
    z-index: 3;
  }

  @media (max-width: 1200px) {
    .hero_hero_style1 .container {
      margin-left: 50px;
      margin-right: 50px;
    }

 
  }

  @media (min-width:1200px){
    .hero_hero_style1 .carousel{
        min-height:600px;
    }
  }

  .hero_hero_style1 h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    .hero_hero_style1 h2 {
      font-size: 30px;
    }

  }

  .hero_hero_style1 .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    transition: 0.5s;
    margin: 10px;
    border-radius: 4px;
    color: var(--contrast-color);
    border: 2px solid var(--accent-color);
  }

  .hero_hero_style1 .btn-get-started:hover {
    background: var(--accent-color);
  }

  .hero_hero_style1 .carousel-control-prev {
    justify-content: start;
  }

  @media (min-width: 640px) {
    .hero_hero_style1 .carousel-control-prev {
      padding-left: 15px;
    }
  }

  .hero_hero_style1 .carousel-control-next {
    justify-content: end;
  }

  @media (min-width: 640px) {
    .hero_hero_style1 .carousel-control-next {
      padding-right: 15px;
    }
  }




  .hero_hero_style1 .carousel-control-next-icon,
  .hero_hero_style1 .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    border-radius: 50px;
    color: var(--contrast-color);
    transition: 0.3s;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero_hero_style1 .carousel-control-prev,
  .hero_hero_style1 .carousel-control-next {
    transition: 0.3s;
    opacity: 0.5;
  }

  .hero_hero_style1 .carousel-control-prev:focus,
  .hero_hero_style1 .carousel-control-next:focus {
    opacity: 0.5;
  }

  .hero_hero_style1 .carousel-control-prev:hover,
  .hero_hero_style1 .carousel-control-next:hover {
    opacity: 0.9;
  }

  .hero_hero_style1 .carousel-control-prev:hover .carousel-control-next-icon,
  .hero_hero_style1 .carousel-control-prev:hover .carousel-control-prev-icon,
  .hero_hero_style1 .carousel-control-next:hover .carousel-control-next-icon,
  .hero_hero_style1 .carousel-control-next:hover .carousel-control-prev-icon {
    background: var(--accent-color);
    color: var(--default-color);
  }

  .hero_hero_style1 .carousel-indicators li {
    cursor: pointer;
    background: var(--default-color);
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }

  .hero_hero_style1 .carousel-indicators li.active {
    opacity: 1;
    background: var(--accent-color);
  }


  .hero_image_style1_side_img{
      width:450px;
    }
    .hero_image_style1_side_img img{
        position:static;
        object-fit: inherit;
    }

    @media (max-width:600px){
      .hero_image_style1_side_img{
        display:none;
      }

  }
