
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
._service_style3 {
  padding: 60px 0;
  }






  ._service_style3 .nav-tabs {
    border: 0;
  }
  
  ._service_style3 .nav-item {
    width: 100%;
    margin-bottom: 15px;
  }
  
  ._service_style3 .nav-item:last-child {
    margin-bottom: 0;
  }
  
  ._service_style3 .nav-link {
    color: var(--primary-color);
    border: 0;
    padding: 30px;
    transition: 0.3s;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
  }
  
  ._service_style3 .nav-link i {
    background-color: #eee;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    font-size: 22px;
    flex-shrink: 0;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ._service_style3 .nav-link h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
    transition: 0.3s;
  }
  
  ._service_style3 .nav-link p {
    font-size: 15px;
    margin: 0;
  }
  
  ._service_style3 .nav-link:hover {
    background: color-mix(in srgb, var(--primary-color) transparent 96%);
  }
  
  ._service_style3 .nav-link.active {
    background: color-mix(in srgb, var(--primary-color) transparent 96%);
    color: var(--default-color);
  }
  
  ._service_style3 .tab-pane img {
    border-radius: 15px;
  }
  
  ._service_style3 .nav-link.active {
    background: white;
  }
  
  ._service_style3 .items_service_container {
    height: 50vh;
    overflow: auto;
    padding: 15px;
  }
  