

._cat_band_wise_product{

    padding:22px 0;
}
._cat_band_wise_product img {
    width: 100%;
}



._cat_band_wise_product .row > div {
    padding: 7px;
}




._cat_band_wise_product .flex-cat-img {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}


._cat_band_wise_product .flex-cat-button {
    width: 100%;
    position: absolute;
    top: -3px;
    text-align: center;
}


._cat_band_wise_product .flex-cat-button a {
    padding: 4px 10px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
}

._cat_band_wise_product .flex-cat-description {
    display: flex;
    margin-top: 20px;
    min-height: 8em;
}

._cat_band_wise_product .flex-cat-description i {
    width: auto;
    text-align: center;
    padding-top: 8px;
    font-size: 2rem;
    padding-right: 7%;
}

._cat_band_wise_product .flex-cat-description-text {
    display: flex;
    flex-direction: column;
}
