section#clients_client_style2{
    padding: 10px 0;
}
.clients_client_style2 .client-logo:hover img {
  transform: scale(1.1);
}
.clients_client_style2 .client-sec .brand-slider {
    margin: 0 ;
    padding: 2.083vw 0;
    width: 100%;
  }
  @media (max-width: 490px) {
    .clients_client_style2 .client-sec .brand-slider {
      padding: clamp(32px, 8.163vw, 80px) 0;
    }
  }
  .clients_client_style2 .client-sec .brand-slider .client-block {
    width: 13.958vw;
    
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #EAEAEC;
    border-radius: 5px;
    margin: 0 8px;
  }
  @media (max-width: 490px) {
    .clients_client_style2 .client-sec .brand-slider .client-block {
      width: clamp(200px, 48.98vw, 550px);
    
      padding: 0 8px;
    }
  }

