
/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients_brand_style1 .clients-wrap {
    padding:30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, auto));
    gap: 6px;
}

.clients_brand_style1 .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  filter: grayscale(1);
}

.clients_brand_style1 .client-logo:hover {
    filter:grayscale(0);
}

.clients_brand_style1 .client-logo img {
  padding: 5px;
  width:100%;
  transition: 0.3s;
  height: 100%;
  border: 2px solid #eaeaec;
  object-fit:contain;
}



.clients_brand_style1 .client-logo:hover img {
  transform: scale(1.1);
}


@media (max-width:991px) {
    .clients_brand_style1 .clients-wrap {
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    }
}