
/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients_brand_style1 .clients-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, auto));
    gap: 6px;
}

.clients_brand_style1 .client-logo {
  background-color: var(--surface-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  overflow: hidden;
  filter: grayscale(1);
}

.clients_brand_style1 .client-logo:hover {
    filter:grayscale(0);
}

.clients_brand_style1 .client-logo img {
  padding: 5px;
  width:100%;
  transition: 0.3s;
}



.clients_brand_style1 .client-logo:hover img {
  transform: scale(1.1);
}
