.line-climp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
 }



div#productQuickView .product-text-container {
    min-height:500px;
    min-width:500px;
}
div#productQuickView .quick-image-box{
    min-height:500px;
}

@media (max-width:780px){
    div#productQuickView .product-text-container {
        min-height:500px;
        min-width:350px;
    }
    div#productQuickView .quick-image-box{
        min-height:250px;
    }
}

@media (max-width:600px){
    div#productQuickView .product-text-container {
        min-height:250px;
        min-width:250px;
    }
    div#productQuickView .quick-image-box{
        min-height:250px;
    }
}

@media (max-width:600px){
    div#productQuickView .modal-dialog{
        margin:auto;
    }
}

.items_active
{
    color: #ffffff;
    background: #b64747;
    /* transform: skewY(4deg); */
    padding: 0 5px;
    border-radius: 2px;
}


fieldset {
    border-radius: 8px;
    border-color: #ffffff8c;
    margin-bottom: 30px;
    position: relative;
}

legend {
    padding: 0 15px;
}



.product_unit .option-list,
.product-text-container_fornt {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:10px;
}

.product_unit .option,
.product-text-container_fornt .option{
    flex:1 1 25%;
}

.product_unit .option input,
.product-text-container_fornt .option input{
    display:none;
}



.product_unit .option  .option-label,
.product-text-container_fornt  .option-label{
    cursor:pointer;
    display:flex;
    flex-direction:column;
    border:1px solid gray;
    display:inline-flex;
    width:100%;
    padding:7px;;
    border-radius:5px;
        text-align:center;
    gap:5px;
}

.product_unit .option input:checked ~ .option-label,
.product-text-container_fornt .option input:checked ~ .option-label{
    background:#198754;
    color:white;

}

.product_unit {
    padding-top:30px !important;
}

