

  section#clients_category_style3 .categories-sec .categories-wrapper {
    display:grid;
    width: 100%;
    padding: 10px 0;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; /* Optional spacing between grid items */
  }




  section#clients_category_style3 .categories-sec .categories-wrapper .category-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding: 0 8px;
    border-style: double;
    aspect-ratio: 1;
  }

  section#clients_category_style3 .categories-sec .categories-wrapper .category-block .image-box {
    background: #EAEAEC;
    width: clamp(84px, 5.208vw, 180px);
    height: clamp(84px, 5.208vw, 180px);
    border: 2px solid #EAEAEC;

    display: grid;
    align-items: center;
    transition: all 0.5s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    overflow: clip;
    width: 100%;

  }
  section#clients_category_style3  .categories-sec .categories-wrapper .category-block:hover {
    border-color:#eeeeee;
    transition: all 0.5s ease-in-out;
  }

